nav {
  height: 110px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  flex-direction: row;
 }

 nav span {
  font-family: 'Bungee', cursive;
 }

 .nav-left {
  margin-right:auto;
  font-size: 30px;
 }

 .nav-right {
  justify-content:flex-end;
  flex-direction: column;
  text-align: center;
 }

 .nav-right i {
   color: red; 
 }