.new-tweet {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.new-tweet form {
  flex-direction: row;
}

.new-tweet output {
  float: right;
}

.new-tweet h2 {
  align-self: flex-start;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}

#tweet-text {
  outline: 0;
  border-width: 0 0 5px;
  background-color: #f4f1ec;
  width: 100%;
  resize: none;
}

.new-tweet button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: #FFFFFF;
  border: 0;
}

.counter {
  font-family: 'Bungee', cursive;
  color: #545149;
}

.counter-red {
  font-family: 'Bungee', cursive;
  color: red;
}

.error {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}