.tweet-section {
  width: 80%;
  margin: auto;
}

.tweet {
  border: solid;
  margin-bottom: 2em;
  transition: shadow .3s;
}

.tweet:hover {
  box-shadow: 8px 8px rgba(64, 86, 161, 0.3);
}

.tweet img {
  width: 40px;
  height: 40px;
  margin: auto;
}

.tweet-header {
  display: flex;
  flex-direction: row;
}

.tweet-header-left {
  margin-left: 14px;
  margin-right: auto;
  display: flex;
}

.tweet-header-right {
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 1em;
}

.tweet-username {
  color: #4056A1;
  opacity: 0.3;
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 24px;
}

.tweet-name {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 8px;
}

.tweet-message {
  display: flex;
  border-bottom: 5px solid #545149;
  width: 97%;
  margin: auto;
  margin-bottom: 8px;
  padding-left: 0.5em;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.tweet-message p {
  padding-bottom: 10px;
  display: inline-block;
  word-break: break-word;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
  padding-top: 0.5em;
}

.tweet-footer-left {
  margin-right: auto;
  margin-left: 1em;
  display: flex;
  font-size: 15px;
  align-self: center;
}

.tweet-footer-right {
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 0.5em;
}

i.footer-icon:hover {
  color: #4056A1;
}

@media screen and (min-width: 1024px) {
  .tweet-section {
    margin-right: 0;
  }
}